* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/img/bg.jpg') no-repeat center / cover;
}

.container {
  display: flex;
  width: 980px;
  height: 100vh;
  margin: 0 auto;
}

.map-wrapper {
  margin: auto;
}

.map-wrapper .map-images {
  position: relative;
}

.map-wrapper .map-images .map {
  display: inline-block;
  width: 980px;
  height: 630px;
}

.map-wrapper .map-images .girl {
  position: absolute;
  bottom: 125px;
  left: 435px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.map-wrapper .navigation-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -85px;
}

.map-wrapper .navigation-wrapper .slider-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('./assets/icons/friends-line-bg.png') left center no-repeat;
  width: 536px;
  height: 66px;
  padding: 0 30px;
}

.map-wrapper .navigation-wrapper .slider-wrapper .overflow-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-wrapper .navigation-wrapper .slider-wrapper .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.map-wrapper .navigation-wrapper .slider-wrapper .slider .slide {
  position: relative;
  width: 50px;
  height: 50px;
  flex: 0 0 60px;
  text-align: center;
  line-height: 50px;
}

.map-wrapper .navigation-wrapper .slider-wrapper .slider .slide .friend-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.map-wrapper .navigation-wrapper .slider-wrapper .slider .slide .plus-icon {
  position: absolute;
  right: 0;
  top: -5px;
}

.map-wrapper .navigation-wrapper .slider-wrapper .nav-btns .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.map-wrapper .navigation-wrapper .slider-wrapper .nav-btns .arrow-left {
  left: 10px;
}

.map-wrapper .navigation-wrapper .slider-wrapper .nav-btns .arrow-right {
  right: 10px;
}

.map-wrapper .navigation-wrapper .university-btn {
  width: 202px;
  height: 66px;
}

.map-wrapper .navigation-wrapper .university-btn:active {
  box-shadow: 0px 3px 10px #863811;
}

.map-wrapper .navigation-wrapper .chat-btn, .mail-btn, .rating-btn {
  width: 65px;
  height: 60px;
}

.map-wrapper .navigation-wrapper .chat-btn:active {
  box-shadow: 0px 3px 10px #074c4f;
}

.map-wrapper .navigation-wrapper .mail-btn:active, .rating-btn:active {
  box-shadow: 0px 3px 10px #24869a;
}

.btn {
  background-color: inherit;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-img {
  width: 100%;
  height: 100%;
}